<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="youtubedlgui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <youtubedlgui.Properties.Settings>
            <setting name="WorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="YoutubeDlExe" serializeAs="String">
                <value>youtube-dl.exe</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value>--no-playlist --no-cache-dir</value>
            </setting>
            <setting name="ClipboardPaste" serializeAs="String">
                <value>True</value>
            </setting>
        </youtubedlgui.Properties.Settings>
    </userSettings>
</configuration>